body[b-luon2aonf2] {
    /* for demo purposes only */
    margin: 2em;
    font-family: Roboto, sans-serif;
}

#result-id-img[b-luon2aonf2] {
    width: 100%;
}

.show[b-luon2aonf2] {
    display: block;
}


.hide[b-luon2aonf2] {
    display: none;
}


input[type="text"][b-luon2aonf2],
select.form-control[b-luon2aonf2] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus[b-luon2aonf2],
select.form-control:focus[b-luon2aonf2] {
    -webkit-box-shadow: none;
    box-shadow: none;
}



@keyframes search-b-luon2aonf2 {
    0% {
        top: 40px;
        left: 60px;
    }

    25% {
        top: 40px;
        left: calc(100% - 120px);
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 120px);
    }

    75% {
        top: calc(100% - 100px);
        left: 60px;
    }

    100% {
        top: 40px;
        left: 60px;
    }
}




@-webkit-keyframes search {
    0% {
        top: 40px;
        left: 60px;
    }

    25% {
        top: 40px;
        left: calc(100% - 120px);
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 120px);
    }

    75% {
        top: calc(100% - 100px);
        left: 60px;
    }

    100% {
        top: 40px;
        left: 60px;
    }
}

@-moz-keyframes search {
    0% {
        top: 40px;
        left: 60px;
    }

    25% {
        top: 40px;
        left: calc(100% - 120px);
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 120px);
    }

    75% {
        top: calc(100% - 100px);
        left: 60px;
    }

    100% {
        top: 40px;
        left: 60px;
    }
}

@-o-keyframes search {
    0% {
        top: 40px;
        left: 60px;
    }

    25% {
        top: 40px;
        left: calc(100% - 120px);
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 120px);
    }

    75% {
        top: calc(100% - 100px);
        left: 60px;
    }

    100% {
        top: 40px;
        left: 60px;
    }
}

@keyframes search-b-luon2aonf2 {
    0% {
        top: 40px;
        left: 60px;
    }

    25% {
        top: 40px;
        left: calc(100% - 120px);
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 120px);
    }

    75% {
        top: calc(100% - 100px);
        left: 60px;
    }

    100% {
        top: 40px;
        left: 60px;
    }
}


@media screen and (orientation: landscape) and (max-width: 48em) {
    #animation-container[b-luon2aonf2] {
        width: 60%;
        box-sizing: border-box;
    }
}

@media screen {
    #animation[b-luon2aonf2] {
        position: relative;
    }
}

@media screen {
    #search-image[b-luon2aonf2] {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media screen and (orientation: landscape) and (max-width: 48em) {
    #animation[b-luon2aonf2] {
        width: 60%;
        box-sizing: border-box;
    }
}

@media screen {
    #animation[b-luon2aonf2] {
        position: relative;
    }
}

@media screen {
    #search-image[b-luon2aonf2] {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media screen {
    /*.analyzing .analyzing_group .analyzing_container .analyzing_animation_zone*/
    #animation[b-luon2aonf2]::before {
        content: '';
        display: block;
        width: 64px;
        height: 64px;
        background-image: url('assets/finder@2x.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: contain;
        /*background-color: red;*/
        position: absolute;
        /*animation-name: search ;*/
        -webkit-animation: search 4s ease-in-out infinite forwards 0s;
        -moz-animation: search 4s ease-in-out infinite forwards 0s;
        -o-animation: search 4s ease-in-out infinite forwards 0s;
        animation: search-b-luon2aonf2 4s ease-in-out infinite forwards 0s;
    }
}

.mdc-top-app-bar[b-luon2aonf2] {
    background-color: #0d6efd !important;
}

.iti[b-luon2aonf2] {
    width: 100%
}

.iti input[type="tel"][b-luon2aonf2] {
    font-weight: 400;
    line-height: 1.286rem;
    border-color: #949494;
    color: #222b45;
    width: 100%;
    height: 52px;
    padding-left: 45px !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.iti input[type="tel"] [b-luon2aonf2]::selection {
    border-color: #ECECED;
}

.iti input[type="tel"] [b-luon2aonf2]::after {
    border-color: #ECECED;
}

.iti input[type="tel"] :focus[b-luon2aonf2] {
    outline: none;
}

.iti input[type="tel"] :focus[b-luon2aonf2] {
    border: none;
    outline: none;
}

.iti input[type="tel"] [b-luon2aonf2]::selection {
    border-color: #ECECED;
}

.iti input[type="tel"] [b-luon2aonf2]::after {
    border-color: #ECECED;
}

.mdc-top-app-bar[b-luon2aonf2] {
    background-color: #0d6efd !important;
}

.content[b-luon2aonf2] {
    padding-top: 0px !important;
}

.px-4[b-luon2aonf2] {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

article.content.px-4[b-luon2aonf2] {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.logo-screenlyyid[b-luon2aonf2] {
    max-width: 150px;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-start-title[b-luon2aonf2] {
    font-size: 18px;
    font-weight: 600;

}

.header-text[b-luon2aonf2] {
    text-align: center;
}

.container-center .img-fluid[b-luon2aonf2] {
    max-width: 100%;
    max-height: 150px;
}

.container-center h6[b-luon2aonf2] {
    margin-bottom: 0px;
}

.img-fluid-default[b-luon2aonf2] {
    max-width: 125px;
    height: auto;
    padding-bottom: 25px;
}

.container-center p[b-luon2aonf2] {
    font-size: 14px;
    margin-bottom: 0;
}

.col-3 h6[b-luon2aonf2] {
    padding-top: 55%;
}

.text-align-center[b-luon2aonf2] {
    text-align: center;
}

#main-container[b-luon2aonf2] {
    position: absolute;
    /*top:100px;*/
}

#capture-id[b-luon2aonf2] {
    margin-top:100px;
}
.selected-step[b-luon2aonf2] {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #2A7F84;
    border: 2px solid #2A7F84;
    box-shadow: inset 0 0 0 4px white;
    margin-right: 20px;
    /*font-family: Inter;*/
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.completed-step[b-luon2aonf2] {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #2A7F84;
    /*border: 2px solid #2A7F84;*/
    /*box-shadow: inset 0 0 0 4px white;*/
    margin-right: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    box-shadow: none;
    border: 6px solid white;
}

.unvisited-step[b-luon2aonf2] {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    /*background-color: #2A7F84;*/
    /*border: 2px solid #2A7F84;*/
    /*box-shadow: inset 0 0 0 4px white;*/
    margin-right: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #fff;*/

    color: #D8DADF;
    background-color: unset;
    box-shadow: inset 0 0 0 2px #D8DADF;
    border: 6px solid #ffffff;
}

.divider[b-luon2aonf2] {
    height: 32px;
    width: 2px;
    background: #2A7F84;
    margin: 10px 23px;
    border-radius: 2px;
}

.step[b-luon2aonf2] {
    /*font-family: Inter, serif;*/
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #9497A9;
    text-transform: uppercase;
}

.step-name[b-luon2aonf2] {
    /*font-family: Inter;*/
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #1E1E1E;
}

.step-name-header[b-luon2aonf2] {
    /*font-family: Inter;*/
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #1E1E1E;
    margin-top: 5px;
}

.step-header[b-luon2aonf2] {
    /*font-family: Inter, serif;*/
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.06em;
    /*text-align: left;*/
    color: #9497A9;
    text-transform: uppercase;
    margin-top: 7px;
    text-align: end;
}

.steps-container[b-luon2aonf2] {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.fade-in-text-step1[b-luon2aonf2] {
    /*font-family: Arial;*/
    /*font-size: 60px;*/
    animation: fadeIn-b-luon2aonf2 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.fade-in-text-step2[b-luon2aonf2] {
    /*font-family: Arial;*/
    /*font-size: 60px;*/
    opacity: 0;
    animation: fadeIn-b-luon2aonf2 1s;
    animation-delay: 1s;

    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

.fade-in-text-step3[b-luon2aonf2] {
    /*font-family: Arial;*/
    /*font-size: 60px;*/
    opacity: 0;
    animation:  fadeIn-b-luon2aonf2 1s;
    animation-delay: 2s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

.fade-in-text-step4[b-luon2aonf2] {
    /*font-family: Arial;*/
    /*font-size: 60px;*/
    opacity: 0;
    animation: fadeIn-b-luon2aonf2 1s;
    animation-delay: 3s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
}


.start-button-fade[b-luon2aonf2] {

}

.start-button-fade[b-luon2aonf2] {
    margin-top: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn-b-luon2aonf2 1s;
    animation-delay: 4s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn-b-luon2aonf2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

hr.solid[b-luon2aonf2] {
    border-top: 1px solid #bbb;
}

.mdc-button[b-luon2aonf2] {
    height: 45px; !important;
}


/*.acuant-camera {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

#cover-spin[b-luon2aonf2] {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin-b-luon2aonf2 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin[b-luon2aonf2]::after {
    content:'';
    display:block;
    position:absolute;
    left: 44vw;
    top: 40%;
    width: 12vw;
    height: 12vw;

    /*left:48%;top:40%;*/
    /*width:40px;height:40px;*/
    border-style:solid;
    border-color:#2A7F84;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin-b-luon2aonf2 .8s linear infinite;
}

.spin-text[b-luon2aonf2] {
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #2A7F84;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    /*width:40px;*/
    /*height:40px;*/
    /*border-style:solid;*/
    /*border-color:black;*/
    /*border-top-color:transparent;*/
    /*border-width: 4px;*/
    /*border-radius:50%;*/
    /*-webkit-animation: spin .8s linear infinite;*/
    /*animation: spin .8s linear infinite;*/
}